body{
  background-color: #aa949469;
}
input {
    width: 80%;
    padding: 10px;
    outline: none;
    margin-top: 10px;
    display: block;
  }
  button {
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(211, 38, 185);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    width: 160px;
  }
  .alert::placeholder {
    font-weight: bold;
    color: red;
  }